[Unit]
Description=Run UNA ansible-pull

[Timer]
OnBootSec=1min
OnCalendar=*:0/3
RandomizedDelaySec=3min
AccuracySec=15s
Persistent=true
Unit=una-ansible-pull.service

[Install]
WantedBy=timers.target
